body{
    margin: 0;
    padding: 0;
}

.TASK1{
    width: 200px;
    height: 200px;
    background-color: black;
  display: block;
  margin: auto;
}
.TASK2{
    width: 200px;
    height: 200px;
    background-color: yellow;
   margin-left: 42%;
    
   
}
.TASK3{
    width: 200px;
    height:100vh;
    background-color: rgb(64, 19, 224);
    display: flex;
    justify-content: center;
    align-items: center;

}
.TASK4 {
    background-color: brown;
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.TASK5{
    background-color: rgb(27, 199, 27);
    height: 300px;
    width: 200px;

}
.full-height {
    height: 100vh;
 
    display: grid;
    place-items: center;
}
.TASK6{
    background-color: aqua;
    width: 30%;
    height: 100vh;
}
